.container{
  background-color: brown;;
  width: 20rem;
  margin-left: 75vh;
  margin-top: 30vh;
}

.btn{
  background-color: rgb(154, 154, 177);
  border: none;
  margin-left: 7vh;
  margin-bottom: 5px;
  border-radius: 3px;
}

h2{
  margin-left: 14vh;
  font-family: sans-serif;
}

p{
  margin-left: 18vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',sans-serif;
  font-size: 5vh;
}